#adjust{
    width: 100%;
    height: auto;
    background-color: #f3f3f3;
    padding: 0 5%;
    padding-bottom: 100px;

    .adjust-header{
        margin: 0;
        padding: 100px 0 50px 0;
    }
    p{
        font-weight: 100;
        font-size: 1.5em;
        margin-bottom: 50px;
    }
    .adjust-grid{
        transition: transform .5s  .5s ease;
        display: grid;
        width: 100%;
        height: calc(100vw * 0.35);
        grid-template-columns: 4fr 1fr 1fr;
        transform: translateX(17%);  
    }
    .grid-slide{
        transform: translateX(0); 
        
        #image-panel{
            .main-image{
                opacity: 1;
            }
        }
        
        .product-list:nth-child(2){
            transition: all .4s 1s ease;
        }
        .product-list:nth-child(3){
            transition: all .4s 1.2s ease;
        }
        .product-list{
            opacity: 1;
            pointer-events: all;
            height: 100%;
        }
    }
}
