.contact-info{
    max-width: 60%;
    justify-self: center;
    text-align: justify;
    font-weight: 100;
    font-size: 1.2em;
    
    ul{
        list-style-type: none;
        margin-top: 50px;    

        img{
            position: relative;
            top:5px;
        }
        p{
            display: inline-block;
            margin: 0px 0 10px 40px
        }
        .location-span{
            position: absolute;
            p{
                display: block;
            }
        }
    }
}
@media(max-width: 1024px){
    .contact-info{
        max-width: 80%;
    }
}