#head{
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    background-image: url('../../images/backgrounds/background_1_flipped.jpg');
}